[Desktop Entry]
Name=Costumemaster Reloaded
Comment=Switch costumes. Solve puzzles. Wake up.
Exec=godot --main-pack costumemaster.pck
Icon=icon.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Supported-Orientations=landscape
